In [1]:
import pandas as pd
import geopandas as gpd
import zipfile
from pyraptor import query_mcraptor

import sys
import geodatasets as gds
import matplotlib.pyplot as plt
from shapely.geometry import LineString
import io
import glob
import os

In [18]:
# r = requests.get('https://opendata.samtrafiken.se/gtfs/{sl}/{sl_latest}.zip?key={Youte-Api-Key}')
#"https://opendata.samtrafiken.se/gtfs/{sl}/{sl_latest}.zip")
    
agency_df = pd.read_csv(open("gtfs/sl/agency.txt"))
shapes_df = pd.read_csv(open("gtfs/sl/shapes.txt"))
feed_info_df = pd.read_csv(open("gtfs/sl/feed_info.txt"))
routes_df = pd.read_csv(open("gtfs/sl/routes.txt"))
trips_df = pd.read_csv(open("gtfs/sl/trips.txt"))
stop_times_df = pd.read_csv(open("gtfs/sl/stop_times.txt"))
attributions_df = pd.read_csv(open("gtfs/sl/attributions.txt"))
calendar_df = pd.read_csv(open("gtfs/sl/calendar.txt"))
calendar_dates_df = pd.read_csv(open("gtfs/sl/calendar_dates.txt"))

In [21]:
agency_df.head()
query_mcraptor(agency_df)

TypeError: 'module' object is not callable

In [49]:
agency_gdf = gpd.GeoDataFrame(agency_df.head())
print(agency_gdf)

           agency_id                    agency_name                agency_url  \
0  14010000000001917           Upplands lokaltrafik  https://www.resrobot.se/
1  14010000000001983      Kommuner i Stockholms Län  https://www.resrobot.se/
2  14010000000001939          Länstrafiken Sörmland  https://www.resrobot.se/
3  14010000000002005              Färdtjänstnämnden  https://www.resrobot.se/
4  14010000000002071  Waxholmsbolaget Ångfartygs AB  https://www.resrobot.se/

    agency_timezone agency_lang agency_fare_url
0  Europe/Stockholm          sv             NaN
1  Europe/Stockholm          sv             NaN
2  Europe/Stockholm          sv             NaN
3  Europe/Stockholm          sv             NaN
4  Europe/Stockholm          sv             NaN

In [50]:
stop_times_df.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
0,14010000635912911,05:53:00,05:53:00,9022001010028003,1,Stora Essingen,3,1,0.00,1
1,14010000635912911,05:53:56,05:53:56,9022001010052003,2,Stora Essingen,3,3,398.26,0
2,14010000635912911,05:54:23,05:54:23,9022001010054002,3,Stora Essingen,3,3,570.67,0
3,14010000635912911,05:54:57,05:54:57,9022001010056002,4,Stora Essingen,3,3,808.54,0
4,14010000635912911,05:55:45,05:55:45,9022001010058002,5,Stora Essingen,3,3,1107.90,0

In [51]:
stop_times_gdf = gpd.GeoDataFrame(stop_times_df.head())
print(stop_times_gdf)

             trip_id arrival_time departure_time           stop_id  \
0  14010000635912911     05:53:00       05:53:00  9022001010028003
1  14010000635912911     05:53:56       05:53:56  9022001010052003
2  14010000635912911     05:54:23       05:54:23  9022001010054002
3  14010000635912911     05:54:57       05:54:57  9022001010056002
4  14010000635912911     05:55:45       05:55:45  9022001010058002

   stop_sequence   stop_headsign  pickup_type  drop_off_type  \
0              1  Stora Essingen            3              1
1              2  Stora Essingen            3              3
2              3  Stora Essingen            3              3
3              4  Stora Essingen            3              3
4              5  Stora Essingen            3              3

   shape_dist_traveled  timepoint
0                 0.00          1
1               398.26          0
2               570.67          0
3               808.54          0
4              1107.90          0

In [52]:
trips_df.head()

,route_id,service_id,trip_id,trip_headsign,direction_id,shape_id
0,9011001000100000,1,14010000635912911,NaN,1,1014010000482329256
1,9011001000100000,1,14010000635913205,NaN,1,1014010000482329256
2,9011001000100000,1,14010000635913522,NaN,1,1014010000482329256
3,9011001000100000,1,14010000635913770,NaN,1,1014010000482329256
4,9011001000100000,2,14010000635914062,NaN,1,1014010000482329256

In [53]:
trips_gdf = gpd.GeoDataFrame(trips_df.head())
print(trips_gdf)

           route_id  service_id            trip_id  trip_headsign  \
0  9011001000100000           1  14010000635912911            NaN
1  9011001000100000           1  14010000635913205            NaN
2  9011001000100000           1  14010000635913522            NaN
3  9011001000100000           1  14010000635913770            NaN
4  9011001000100000           2  14010000635914062            NaN

   direction_id             shape_id
0             1  1014010000482329256
1             1  1014010000482329256
2             1  1014010000482329256
3             1  1014010000482329256
4             1  1014010000482329256

In [54]:
routes_df.head()

,route_id,agency_id,route_short_name,route_long_name,route_type,route_desc
0,9011001000100000,14010000000001001,1,NaN,700,blåbuss
1,9011001000200000,14010000000001001,2,NaN,700,blåbuss
2,9011001000300000,14010000000001001,3,NaN,700,blåbuss
3,9011001000400000,14010000000001001,4,NaN,700,blåbuss
4,9011001001000000,14010000000001001,10,Blå linjen,401,tunnelbanans blå linje

In [55]:
routes_gdf = gpd.GeoDataFrame(routes_df.head())
print(routes_gdf)

           route_id          agency_id route_short_name route_long_name  \
0  9011001000100000  14010000000001001                1             NaN
1  9011001000200000  14010000000001001                2             NaN
2  9011001000300000  14010000000001001                3             NaN
3  9011001000400000  14010000000001001                4             NaN
4  9011001001000000  14010000000001001               10      Blå linjen

   route_type              route_desc
0         700                 blåbuss
1         700                 blåbuss
2         700                 blåbuss
3         700                 blåbuss
4         401  tunnelbanans blå linje

In [56]:
shapes_df.head()

,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence,shape_dist_traveled
0,1014010000482329256,59.341873,18.118316,1,0.00
1,1014010000482329256,59.341854,18.118403,2,0.00
2,1014010000482329256,59.341754,18.118334,3,11.74
3,1014010000482329256,59.341260,18.118048,4,69.17
4,1014010000482329256,59.340930,18.116765,5,150.88

In [57]:
shapes_gdf = gpd.GeoDataFrame(shapes_df.head())
print(shapes_gdf)

              shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence  \
0  1014010000482329256     59.341873     18.118316                  1
1  1014010000482329256     59.341854     18.118403                  2
2  1014010000482329256     59.341754     18.118334                  3
3  1014010000482329256     59.341260     18.118048                  4
4  1014010000482329256     59.340930     18.116765                  5

   shape_dist_traveled
0                 0.00
1                 0.00
2                11.74
3                69.17
4               150.88

In [58]:
feed_info_df.head()

,feed_id,feed_publisher_name,feed_publisher_url,feed_lang,feed_version
0,SE-sl,Samtrafiken i Sverige AB,https://www.samtrafiken.se,sv,2024-02-15

In [59]:
feed_info_gdf = gpd.GeoDataFrame(feed_info_df.head())
print(feed_info_gdf)

  feed_id       feed_publisher_name          feed_publisher_url feed_lang  \
0   SE-sl  Samtrafiken i Sverige AB  https://www.samtrafiken.se        sv

  feed_version
0   2024-02-15