In [1]:
import sys
from pathlib import Path
import json

import pandas as pd
import numpy as np
import geopandas as gp
import matplotlib

DIR = Path('..')
sys.path.append(str(DIR))

import gtfs_kit as gk

DATA_DIR = DIR/'data/sl/'

%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
path = DATA_DIR/'/home/pablo/dev23/data_sets/sl.zip'
gk.list_feed(path)

             file_name  file_size
0       stop_times.txt  132092280
1         calendar.txt      27620
2           agency.txt       1278
3            stops.txt    1434719
4   calendar_dates.txt     676779
5        feed_info.txt        144
6           routes.txt      30622
7     attributions.txt    2279559
8            trips.txt    4804496
9        transfers.txt    1287404
10          shapes.txt  143941150

In [3]:
feed = gk.read_feed(path, dist_units='km')
feed.describe()

,indicator,value
0,agencies,"[Upplands lokaltrafik, Kommuner i Stockholms L..."
1,timezone,Europe/Stockholm
2,start_date,20240212
3,end_date,20241230
4,num_routes,610
5,num_trips,77417
6,num_stops,21568
7,num_shapes,3211
8,sample_date,20240215
9,num_routes_active_on_sample_date,575
10,num_trips_active_on_sample_date,34661
11,num_stops_active_on_sample_date,11540

In [4]:
feed.validate()
feed.drop_invalid_columns()
feed.drop_zombies()

feed_info: dropping invalid column feed_id
stops: dropping invalid column platform_code
transfers: dropping invalid column from_trip_id
transfers: dropping invalid column to_trip_id

In [ ]:
# Append shape_dist_traveled column to stop times
display(feed.stop_times.head().T)
feed = feed.append_dist_to_stop_times()
display(feed.stop_times.head().T)

,0,1,2,3,4
trip_id,14010000635912911,14010000635912911,14010000635912911,14010000635912911,14010000635912911
arrival_time,05:53:00,05:53:56,05:54:23,05:54:57,05:55:45
departure_time,05:53:00,05:53:56,05:54:23,05:54:57,05:55:45
stop_id,9022001010028003,9022001010052003,9022001010054002,9022001010056002,9022001010058002
stop_sequence,1,2,3,4,5
stop_headsign,Stora Essingen,Stora Essingen,Stora Essingen,Stora Essingen,Stora Essingen
pickup_type,3,3,3,3,3
drop_off_type,1,3,3,3,3
shape_dist_traveled,0.0,398.26,570.67,808.54,1107.9
timepoint,1,0,0,0,0

,0,1,2,3,4
trip_id,14010000331224227,14010000331224227,14010000331224227,14010000331224227,14010000331224227
arrival_time,06:39:00,06:40:00,06:42:00,06:44:00,06:45:00
departure_time,06:39:00,06:40:00,06:42:00,06:44:00,06:45:00
stop_id,9022001004201001,9022001004411001,9022001004421001,9022001004431001,9022001004441001
stop_sequence,1,2,3,4,5
stop_headsign,Nockeby,Nockeby,Nockeby,Nockeby,Nockeby
pickup_type,3,3,3,3,3
drop_off_type,1,3,3,3,3
timepoint,1,1,1,1,1
shape_dist_traveled,0.0,0.864388,1.329668,2.189957,2.741705

In [ ]:
week = feed.get_first_week()
dates = [week[4], week[6]]  # First Friday and Sunday

In [ ]:
# Compute feed time series
trip_stats = feed.compute_trip_stats()
trip_stats.head().T
fts = feed.compute_feed_time_series(trip_stats, dates, freq='6H')
fts

In [ ]:
gk.downsample(fts, freq='12H')

In [ ]:
# Compute feed stats for first week
feed_stats = feed.compute_feed_stats(trip_stats, week)
feed_stats

In [ ]:
# Compute route time series
rts = feed.compute_route_time_series(trip_stats, dates, freq='12H')
rts

In [ ]:
# Slice time series
inds = ['service_distance', 'service_duration', 'service_speed']
rids = ['9011001000200000', '9011001000300000'] # [478, 480, 481, 607, 608]
rts.loc[:, (inds, rids)]

In [ ]:
# Slice again by cross-section
rts.xs(rids[0], axis="columns", level=1)

In [ ]:
# Compute trip locations for every hour
rng = pd.date_range('2/16/2024', periods=24, freq='h')
times = [t.strftime('%H:%M:%S') for t in rng]
loc = feed.locate_trips(dates[0], times)
loc.head()

In [ ]:
# Build a route timetable
route_id = feed.routes['route_id'].iat[0]
feed.build_route_timetable(route_id, dates).T

In [ ]:
rids = feed.routes.route_id.loc[2:4]
feed.map_routes(rids)

In [ ]:
with open('timetable.pcl', 'r') as f:
    f.read()

In [ ]:
# Compute screen line counts

#lines = gp.read_file(path)
#display(lines)
#feed.compute_screen_line_counts(lines, dates)

In [ ]:
# Map routes
#rids = feed.routes.route_id.loc[2:4]
#feed.map_routes(rids, include_stops=True)